{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "consistent-return": "off",
    "class-methods-use-this": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-dynamic-require": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-param-reassign": "off",
    "global-require": "off"
  }
}
