##################################################
# application.yml
# using yenv: https://github.com/jeffijoe/yenv
#
# Contains our environment variables.
# When the environment actually specifies
# any of the values here, the actual environment
# variables win. See the yenv docs.
##################################################

common:
  test: sss

# Development environment.
development:
  newsDetailUrl: http://qa.api.xxx.com/mobile/bigapp.ashx?op=GetNewsdetail&newsid={0}&userid={1}

# Running tests
tests:
  # Test environment is based on development.
  compose: development
  newsDetailUrl: http://qa.api.xxx.com/mobile/bigapp.ashx?op=GetNewsdetail&newsid={0}&userid={1}

# Production environment.
production:
  # Production environment is based on development.
  compose: development
  newsDetailUrl: http://api.xxx.com/mobile/bigapp.ashx?op=GetNewsdetail&newsid={0}&userid={1}
