# Development environment.
development:
  RDS_HOST: 192.168.36.212
  RDS_PORT: 1015
  RDS_OPTS:
  RDS_ENABLED: true


# Running tests
tests:
  RDS_HOST: 192.168.36.212
  RDS_PORT: 1015
  RDS_OPTS:
  RDS_ENABLED: true

# Production ienvironment.
production:
  RDS_HOST: 192.168.36
  RDS_PORT: 1015
  RDS_OPTS:
    password: 111
  RDS_ENABLED: true
